header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
    flex-grow: 1; /* El título ocupará todo el espacio disponible */
    text-align: center;
}
.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}